.node {
  fill: #FD0;
  color: #000;
  stroke: #FD00000;
  stroke-width: 1.5px;
}

.node.text {
  fill: #000;
  pointer-events: none;
  font: 15px sans-serif;
  stroke-width: 0px;
  font-size: 11px;
  display: block;
}

/* Style netgrafio node */
.node.netgrafio {
  fill: #FD0000;
}


.node.websocket {
  fill: #00FF00;
}

.node.tcpsocket {
  fill: #00FF00;
}

.node.data {
  fill: #000;
}

.node.webapp {
  fill: #FF00FF;
}

path.link {
  fill: #CCC;
  stroke: #CCC;
  stroke-width: 1px;
  opacity: 0.6;
  cursor: default;
}

marker#end {
  fill: #000;
  z-index: 999;
}

